<a href="https://colab.research.google.com/github/KyoldFusion/IMDB-Netflix-/blob/main/NetflixIMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.1'
spark_version = 'spark-3.1.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [52.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,045 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,402 kB]
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,750 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,172 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [895 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,476 kB]
Get:23 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [39.5 kB]
Fetched 11.1 MB in 3s (3,396 kB/s)
Reading package lists... Done

In [ ]:
 #import packages

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType, FloatType
from pyspark.sql.functions import col, unix_timestamp, to_date
from pyspark.sql.functions import to_timestamp
from datetime import timedelta
from pyspark.sql.functions import udf

# we are going to use this to time our queries.
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
ratings = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/ratings.csv"
spark.sparkContext.addFile(ratings)
rf = spark.read.csv(SparkFiles.get("ratings.csv"), sep=",", header=True)

In [ ]:
#Create Temp View for ratings.csv
rf.createOrReplaceTempView('ratings')

In [ ]:
# Read in data from S3 Bucket
basics = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/titles_basic.csv"
spark.sparkContext.addFile(basics)
bf = spark.read.csv(SparkFiles.get("titles_basic.csv"), sep=",", header=True)
#bf = bf.withColumn('runtimeminutes', col('runtimeminutes').cast('float'))

In [84]:
#Create Temp View for title_basics.csv
bf.createOrReplaceTempView('basics')

In [ ]:
# Read in data from S3 Bucket
names = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filterNames.csv"
spark.sparkContext.addFile(names)
nf = spark.read.csv(SparkFiles.get("filterNames.csv"), sep=",", header=True)

In [ ]:
#Create temp view for filterNames.csv
nf.createOrReplaceTempView('names')

In [ ]:
#Read in data from S3 bucket
principals = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filteredPrincipals.csv"
spark.sparkContext.addFile(principals)
pf = spark.read.csv(SparkFiles.get("filteredPrincipals.csv"), sep=",", header=True)

In [ ]:
#Create temp view for FilteredPrincipals.csv
pf.createOrReplaceTempView('principals')

In [ ]:
#Question 1 No Parquet
start_time = time.time()
spark.sql("Select DISTINCT nconst, primaryname, birthyear, deathyear, CASE WHEN birthyear IS NOT NULL and deathyear IS NOT NULL then CAST(deathyear - birthyear AS decimal(3,0)) ELSE COALESCE((birthyear - deathyear), 2021-birthyear) END  Age, CASE WHEN deathyear IS NULL AND birthyear IS NOT NULL THEN 'alive' WHEN deathyear IS NOT NULL THEN 'deceased' WHEN birthyear IS NULL AND deathyear is NULL THEN 'unknown' END livingstatus from names where (primaryprofession LIKE '%actor%' OR primaryprofession LIKE '%actress%') AND birthyear IS NOT NULL").show()
print("---- %s Seconds ---" % (time.time() - start_time))

+---------+--------------------+---------+---------+----+------------+
|   nconst|         primaryname|birthyear|deathyear| Age|livingstatus|
+---------+--------------------+---------+---------+----+------------+
|nm1441958|           Geddy Lee|     1953|     null|68.0|       alive|
|nm1443104|   Wanda Wilkomirska|     1929|     2018|89.0|    deceased|
|nm1450441|         Lexi Lamour|     1976|     null|45.0|       alive|
|nm1451129| Carles Romero Vidal|     1977|     null|44.0|       alive|
|nm1454258|       Cilly Dartell|     1957|     null|64.0|       alive|
|nm6268945|   Monika Potokárová|     1992|     2019|27.0|    deceased|
|nm6276162|    Alasdair Gillies|     1938|     null|83.0|       alive|
|nm6278631|               Spice|     1982|     null|39.0|       alive|
|nm0000139|        Cameron Diaz|     1972|     null|49.0|       alive|
|nm0000457|           John Hurt|     1940|     2017|77.0|    deceased|
|nm0002168|Willeke van Ammel...|     1944|     null|77.0|       alive|
|nm1457058|        Melanie Teix|     1983|     null|38.0|       alive|
|nm0000128|       Russell Crowe|     1964|     null|57.0|       alive|
|nm0001774|         Ben Stiller|     1965|     null|56.0|       alive|
|nm0467027| Margarita Kosheleva|     1939|     2015|76.0|    deceased|
|nm0000961|     Timothy Bottoms|     1951|     null|70.0|       alive|
|nm0001808|       Tracey Ullman|     1959|     null|62.0|       alive|
|nm0003012|Michael Creighton...|     1963|     null|58.0|       alive|
|nm0003595|        Corey Klemow|     1970|     null|51.0|       alive|
|nm0004963|         Peri Gilpin|     1961|     null|60.0|       alive|
+---------+--------------------+---------+---------+----+------------+
only showing top 20 rows

---- 15.84699010848999 Seconds ---

In [56]:
#Writing parquet into files
nf.write.parquet('parquet_names', mode='overwrite')

In [57]:
#Read parquet created
npf = spark.read.parquet('parquet_names')

In [58]:
#create temp parquet view for names
npf.createOrReplaceTempView('pnames')

In [ ]:
####################### QUESTION SEGMENT 1 ####################

In [ ]:
#Question 1 Parquet
start_time = time.time()
spark.sql("Select DISTINCT nconst, primaryname, birthyear, deathyear, CASE WHEN birthyear IS NOT NULL and deathyear IS NOT NULL then CAST(deathyear - birthyear AS decimal(3,0)) ELSE COALESCE((birthyear - deathyear), 2021-birthyear) END  Age, CASE WHEN deathyear IS NULL AND birthyear IS NOT NULL THEN 'alive' WHEN deathyear IS NOT NULL THEN 'deceased' WHEN birthyear IS NULL AND deathyear is NULL THEN 'unknown'  END LivingStatus from pnames where (primaryprofession LIKE '%actor%' OR primaryprofession LIKE '%actress%') AND birthyear IS NOT NULL").show()
print("---- %s Seconds ---" % (time.time() - start_time))

+---------+--------------------+---------+---------+----+------------+
|   nconst|         primaryname|birthyear|deathyear| Age|LivingStatus|
+---------+--------------------+---------+---------+----+------------+
|nm0937255|      Jan Wlodarczyk|     1934|     2013|79.0|    deceased|
|nm2564430|  Tatiana Grigorieva|     1975|     null|46.0|       alive|
|nm2576486|       Madison Riley|     1990|     null|31.0|       alive|
|nm2576487|      Raymond Alongi|     1960|     null|61.0|       alive|
|nm2589744|  Adriano Aragozzini|     1938|     null|83.0|       alive|
|nm0953941|     Alexandra Zazzi|     1966|     null|55.0|       alive|
|nm0954036|         Natalie Zea|     1975|     null|46.0|       alive|
|nm3747206|     Aleksey Bulatov|     1948|     null|73.0|       alive|
|nm3752434|           Art Kulik|     1984|     null|37.0|       alive|
|nm0990442|          Ben Carson|     1951|     null|70.0|       alive|
|nm3776825|         Andrew Gruz|     1984|     null|37.0|       alive|
|nm2622848|   Michal Grzybowski|     1979|     null|42.0|       alive|
|nm2645942|    Danny Houtkooper|     1984|     null|37.0|       alive|
|nm2662464|        Édgar Huerta|     1980|     null|41.0|       alive|
|nm3371210|       Petra Vajdová|     1985|     null|36.0|       alive|
|nm3407086|       Simona Zmrzlá|     1989|     null|32.0|       alive|
|nm0125540|      Margherita Buy|     1962|     null|59.0|       alive|
|nm2153281|    Meibi Yamanouchi|     1987|     null|34.0|       alive|
|nm2154532|         Lyanka Gryu|     1987|     null|34.0|       alive|
|nm0139554|Margarida Carpint...|     1943|     null|78.0|       alive|
+---------+--------------------+---------+---------+----+------------+
only showing top 20 rows

---- 7.579653739929199 Seconds ---

In [ ]:
############################# QUESTION SEGMENT 2 ######################

In [ ]:
#Conversion Function
def minutesToHourMinutes(minuteString):
  if minuteString:
    minuteAsFloat = float(minuteString)
    return str(timedelta(minutes=minuteAsFloat))[:-3]
  else:
    return "0:0"

minutesToHourMinutesUdf = udf(lambda z: minutesToHourMinutes(z), StringType())
spark.udf.register("minutesToHourMinutesUdf", minutesToHourMinutesUdf)

In [82]:
#Question 2
start_time = time.time()
spark.sql("Select b.originaltitle, r.averagerating, b.titletype, COALESCE(minutesToHourMinutesUdf(b.runtimeminutes), 0) runtime, b.genres from ratings r join basics b ON b.tconst = r.tconst").show()
print("--- %s seconds ---" % (time.time() - start_time))

+--------------------+-------------+---------+-------+--------------------+
|       originaltitle|averagerating|titletype|runtime|              genres|
+--------------------+-------------+---------+-------+--------------------+
|           500 Almas|          7.2|    movie|   1:45|         Documentary|
|         A1 tou tiao|          5.9|    movie|   1:35|    Mystery,Thriller|
| AD/BC: A Rock Opera|          7.4|  tvMovie|   0:30|      Comedy,Musical|
|       Ah ma yau nan|          5.5|    movie|   1:33|        Comedy,Crime|
|      Bau lit do see|          5.4|    movie|   1:39|              Action|
|  The Band Aid Story|          8.1|  tvMovie|   1:35|         Documentary|
|A Beachcombers Ch...|          7.0|  tvMovie|   2:00|Adventure,Comedy,...|
|Blink 182: Punk P...|          4.1|    video|   1:01|         Documentary|
|Boogie special: 5...|          1.0|  tvMovie|   0:26|   Documentary,Music|
|Boogie special: M...|          7.7|  tvMovie|   0:28|Biography,Documen...|
|The British Comed...|          6.2|tvSpecial|   2:05|              Comedy|
|      Broken Bridges|          7.9|    movie|   1:36|               Drama|
|   Burgers/Reizigers|          6.3|  tvMovie|   1:00|        Comedy,Drama|
|          Cabra-Cega|          6.3|    movie|   1:47|               Drama|
|            Cascalho|          6.7|    movie|   1:44|               Drama|
|Celebrate the Sou...|          7.6|  tvMovie|   1:00| Documentary,Musical|
|Cheng chong chui ...|          5.5|    movie|   1:35|        Comedy,Crime|
|The China Syndrom...|          5.5|    video|   0:28|   Documentary,Short|
|The China Syndrom...|          4.9|    video|   0:30|   Documentary,Short|
|    Christmas Lights|          6.7|  tvMovie|   1:08|        Comedy,Drama|
+--------------------+-------------+---------+-------+--------------------+
only showing top 20 rows

--- 2.2930657863616943 seconds ---

In [76]:
rf.write.parquet('parquet_ratings', mode='overwrite')

In [77]:
rpf = spark.read.parquet('parquet_ratings')

In [78]:
rpf.createOrReplaceTempView('rratings')

In [83]:
#Question 2 Parquet
start_time = time.time()
spark.sql("Select b.originaltitle, r.averagerating, b.titletype, COALESCE(minutesToHourMinutesUdf(b.runtimeminutes), 0) runtime, b.genres from rratings r join bbasics b ON b.tconst = r.tconst").show()
print("--- %s seconds ---" % (time.time() - start_time))

+--------------------+-------------+---------+-------+--------------------+
|       originaltitle|averagerating|titletype|runtime|              genres|
+--------------------+-------------+---------+-------+--------------------+
|           500 Almas|          7.2|    movie|   1:45|         Documentary|
|         A1 tou tiao|          5.9|    movie|   1:35|    Mystery,Thriller|
| AD/BC: A Rock Opera|          7.4|  tvMovie|   0:30|      Comedy,Musical|
|       Ah ma yau nan|          5.5|    movie|   1:33|        Comedy,Crime|
|      Bau lit do see|          5.4|    movie|   1:39|              Action|
|  The Band Aid Story|          8.1|  tvMovie|   1:35|         Documentary|
|A Beachcombers Ch...|          7.0|  tvMovie|   2:00|Adventure,Comedy,...|
|Blink 182: Punk P...|          4.1|    video|   1:01|         Documentary|
|Boogie special: 5...|          1.0|  tvMovie|   0:26|   Documentary,Music|
|Boogie special: M...|          7.7|  tvMovie|   0:28|Biography,Documen...|
|The British Comed...|          6.2|tvSpecial|   2:05|              Comedy|
|      Broken Bridges|          7.9|    movie|   1:36|               Drama|
|   Burgers/Reizigers|          6.3|  tvMovie|   1:00|        Comedy,Drama|
|          Cabra-Cega|          6.3|    movie|   1:47|               Drama|
|            Cascalho|          6.7|    movie|   1:44|               Drama|
|Celebrate the Sou...|          7.6|  tvMovie|   1:00| Documentary,Musical|
|Cheng chong chui ...|          5.5|    movie|   1:35|        Comedy,Crime|
|The China Syndrom...|          5.5|    video|   0:28|   Documentary,Short|
|The China Syndrom...|          4.9|    video|   0:30|   Documentary,Short|
|    Christmas Lights|          6.7|  tvMovie|   1:08|        Comedy,Drama|
+--------------------+-------------+---------+-------+--------------------+
only showing top 20 rows

--- 1.317629098892212 seconds ---

In [ ]:
########### QUESTION SEGMENT 3 #####################

In [ ]:
#Question #3
start_time = time.time()
spark.sql("Select n.primaryname, b.primarytitle, n.knownFor, n.primaryprofession from names n join basics b ON n.knownFor = b.tconst WHERE n.primaryprofession ='producer'").show()
print('--- %s Seconds ---' % (time.time() - start_time))

+-------------------+--------------------+---------+-----------------+
|        primaryname|        primarytitle| knownFor|primaryprofession|
+-------------------+--------------------+---------+-----------------+
|      Werner Kernig|  Legion of the Dead|tt0213802|         producer|
|   Michael Okulitch|    Suspicious River|tt0219333|         producer|
|      Erik Stensrud|    Suspicious River|tt0219333|         producer|
|     Michael Warren|On Hallowed Groun...|tt0245330|         producer|
|    Dennis Brownlee|On Hallowed Groun...|tt0245330|         producer|
|   Cornelia Burnham|On Hallowed Groun...|tt0245330|         producer|
|    Philip M. Frost|     Killer Instinct|tt0246000|         producer|
|   Denis Shusterman|     Killer Instinct|tt0246000|         producer|
|      Bill Atherton|        Thank Heaven|tt0252902|         producer|
|       Luciano Lisi|       One Eyed King|tt0254626|         producer|
| Christine Kavanagh|       One Eyed King|tt0254626|         producer|
|Zulfiya Nurutdinova|The Garden Was Fu...|tt0256898|         producer|
|    Eckhard Düsberg|       Der Ermittler|tt0264242|         producer|
|     Annette Reisse|       Der Ermittler|tt0264242|         producer|
|       Casey Childs|            Far East|tt0268299|         producer|
|  Katrina Fernandez|           Amerikana|tt0276773|         producer|
|   Franck Gautherot|      Shimkent hôtel|tt0282141|         producer|
|      Gil Donaldson|      Shimkent hôtel|tt0282141|         producer|
|     Xavier Douroux|      Shimkent hôtel|tt0282141|         producer|
|   Norihiko Imamura|   Furê furê jinsei!|tt0292794|         producer|
+-------------------+--------------------+---------+-----------------+
only showing top 20 rows

--- 25.60345220565796 Seconds ---

In [51]:
bf.write.parquet('parquet_basics', mode='overwrite')

In [52]:
bpf = spark.read.parquet('parquet_basics')

In [53]:
bpf.createOrReplaceTempView('bbasics')

In [60]:
#Question 3 Parquet
start_time = time.time()
spark.sql("Select n.primaryname, b.primarytitle, n.knownFor, n.primaryprofession from pnames n join bbasics b ON n.knownFor = b.tconst WHERE n.primaryprofession = 'producer' ").show()
print('--- %s Seconds ---' % (time.time() - start_time))

+-----------------+--------------------+----------+-----------------+
|      primaryname|        primarytitle|  knownFor|primaryprofession|
+-----------------+--------------------+----------+-----------------+
|   Akeko Yokoyama|            Kamichu!| tt0961173|         producer|
|    Chris Shearer|  In This Short Life| tt0962765|         producer|
|     Linda Dippel|Barney: Let's Go ...| tt2591718|         producer|
|       Jay Nelson|     Beyond the Pale| tt0934392|         producer|
|        Mike Sano|        Super Tanker| tt1776309|         producer|
|     Holden Hayes|The John Kerwin Show| tt0849013|         producer|
|     Lisa Jackson|The Firm: Total B...| tt0947008|         producer|
|  Jason Bangerter|        The Downline| tt0970929|         producer|
|Jennifer Bernardi|Renovation Realities| tt1328346|         producer|
|Jennifer Bernardi|    Designed to Sell| tt0415415|         producer|
|       Lori Drake|        The Downline| tt0970929|         producer|
|    Robert Willis|     Flamingo Dreams| tt0129095|         producer|
|      Ivy Winters|Adolescents of Ch...|tt12837402|         producer|
|   Werner Wirsing|A Matador's Mistress| tt0491046|         producer|
|    Wolfgang Witt|      SOKO Stuttgart| tt1410219|         producer|
|     Stuart Wolff|          Home Movie| tt0275408|         producer|
|       Wendy Todd|The Way Bobby See...| tt1554550|         producer|
|Michael Steinwand|Salonika - A city...|tt10445768|         producer|
|      John McHugh|The Ambassadors o...| tt1550629|         producer|
|     Bob Johnston|Tell Me a Story: ...| tt5849562|         producer|
+-----------------+--------------------+----------+-----------------+
only showing top 20 rows

--- 2.3458151817321777 Seconds ---

In [ ]:
########### QUESTION SEGMENT 4 #####################

In [62]:
#Writing parquet into files
pf.write.parquet('parquet_principals', mode='overwrite')

In [63]:
#Read parquet created
ppf = spark.read.parquet('parquet_principals')

In [64]:
#create temp parquet view for prinicpals
ppf.createOrReplaceTempView('pprincipals')

In [65]:
#Question 4
start_time = time.time()
spark.sql("Select DISTINCT p.characters, p.nconst from principals p join names n ON p.nconst = n.nconst WHERE characters is NOT null").show()
print('--- %s Seconds ---' % (time.time() - start_time))

+--------------------+---------+
|          characters|   nconst|
+--------------------+---------+
|        "[""Self""]"|nm0000198|
|     "[""Solomon""]"|nm0000198|
|"[""Shelly Runyon...|nm0000198|
|          "[""Self""|nm0000198|
|"[""Nathaniel She...|nm0000198|
|  "[""Bob Cratchit""|nm0000198|
|    "[""Narrator""]"|nm0000198|
|"[""William Holtz...|nm0000198|
|"[""Dr. Dennett N...|nm0000198|
|"[""Herman Mankie...|nm0000198|
|"[""Jürgen Mossac...|nm0000198|
|       "[""David""]"|nm0000198|
|"[""Jackson Lamb""]"|nm0000198|
|"[""Mason Verger""]"|nm0000198|
| "[""Self (2020)""]"|nm0000198|
|          "[""GO""]"|nm0000198|
| "[""Buford Dill""]"|nm0000198|
|"[""Charlie Strom...|nm0000198|
|     "[""Dreyfus""]"|nm0000198|
|"[""Nicolas Wyatt...|nm0000198|
+--------------------+---------+
only showing top 20 rows

--- 44.36561727523804 Seconds ---

In [66]:
#Question 4 Parquet
start_time = time.time()
spark.sql("Select DISTINCT p.characters, p.nconst from pprincipals p join pnames n ON p.nconst = n.nconst WHERE characters is NOT null").show()
print('--- %s Seconds ---' % (time.time() - start_time))

+--------------------+---------+
|          characters|   nconst|
+--------------------+---------+
|        "[""Self""]"|nm0000198|
|"[""Dr. Tyrone Br...|nm0000198|
|       "[""Lynch""]"|nm0000198|
|"[""Vladislav Duk...|nm0000198|
|"[""CJCS Charles ...|nm0000198|
|    "[""Narrator""]"|nm0000198|
|    "[""Carnegie""]"|nm0000198|
|"[""Commissioner ...|nm0000198|
|"[""George Smiley...|nm0000198|
|         "[""Tau""]"|nm0000198|
|  "[""Self - Actor""|nm0000198|
|        "[""Paul""]"|nm0000198|
|"[""Winston Churc...|nm0000198|
|"[""Self - Actor""]"|nm0000198|
|"[""Counselor Pey...|nm0000198|
|"[""Rabbi Sendak""]"|nm0000198|
|          "[""GO""]"|nm0000198|
| "[""Buford Dill""]"|nm0000198|
|"[""Charlie Strom...|nm0000198|
|     "[""Dreyfus""]"|nm0000198|
+--------------------+---------+
only showing top 20 rows

--- 8.971209287643433 Seconds ---